services:
  db:
    image: postgres:15
    container_name: db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: to_do_app
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - todo-network

  app:
    build: .
    container_name: app
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - '3000:3000'
    networks:
      - todo-network

volumes:
    pgdata:

networks:
  todo-network:

